﻿@using ApiNest.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />

 
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Ajax"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"24fe54be-55ff-4ccc-8486-3b0afa2e3e2e"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ApiNest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Mashups", "Index", "Mashups")</li>
                    <li>@Html.ActionLink("Proxy Registrations", "Index", "ProxyRegistrations")</li>
                    <li>@Html.ActionLink("Api Registrations", "Index", "ApiRegistrations")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Scripts/jquery-migrate-1.1.0.min.js" type="text/javascript"></script>
    <script src="/Scripts/bootstrap3-typeahead.js" type="text/javascript"></script>
    <script src="/Scripts/bootstrap3-typeahead.unobtrusive.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-ui-1.8.ackage 23.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.dynamic.js" type="text/javascript"></script>

    <script src="/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-sliderAccess.js"></script>
    <script src="/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js"></script>
    <script src="/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
    <link href="/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link href="/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />

    <link href="/Content/FormFactory/FormFactory.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/FormFactory/FormFactory.js" type="text/javascript"></script>
    <script src="/Scripts/Prettify/prettify.js"></script>
    <link href="/Content/Prettify/prettify.css" type="text/css" rel="stylesheet" />
    @RenderSection("scripts", required: false)
</body>
</html>
