﻿@using FormFactory
@using FormFactory.AspMvc
@model ApiNest.Domain.Mashup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mashup</h4>
    <hr/>
    @Html.PropertiesFor(Model).Select(p =>
    {
        p.Readonly = true;
        return p;
    }).Render(Html)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
