﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ApiNest</h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Blah blah blah
        </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
 